<div id="div-menu-sus" style="display: none;" class="menu-suspenso-gestao">
    <div class="gestao-chamados">
        <div class="div-icons">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/chamadoIcon.svg" /></a>
        </div>
        <div class="div-texto">
            <h3>Chamados</h3>
            <p>Gerenciar todos os chamados por aqui.</p>
        </div>
    </div>
    <div class="gestao-chamados">
        <div class="div-icons">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/clientesIcon.svg" /></a>
        </div>
        <div class="div-texto">
            <h3>Clientes</h3>
            <p>Clique aqui para gerenciar clientes para abrir chamados.</p>
        </div>
    </div>
    <div class="gestao-chamados">
        <div class="div-icons">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/usuariosIcon.svg" /></a>
        </div>
        <div class="div-texto">
            <h3>Usuários</h3>
            <p>Criar e gerenciar usuários do sistema.</p>
        </div>
    </div><div class="gestao-chamados">
        <div class="div-icons">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/tecnicosIcon.svg" /></a>
        </div>
        <div class="div-texto">
            <h3>Técnicos</h3>
            <p>Cadastrar técnicos operacionais para chamados.</p>
        </div>
    </div>


</div>