<div class="conteiner-header">
    <div class="header">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/firedesk.svg" /></a>
                <div>
            <ul class="header-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"> Início</a></li>
                <li><a id="gestao-mod" href="#">Gestão</a></li>
                <li><a href="#contato">Técnicos</a></li>
                <li><a href="#contato">Clientes</a></li>

            </ul>
        </div>
        
    </div>
   
    </div>
@Html.Partial("_MenuSuspensoGestao")