.items-display {
    display: flex;
    flex-direction: row;
    max-width: 1450px;
    gap: 15px;
    margin-top: 30px;
    align-items: center;
   }

.display-menu {
    background: #fff;
    padding: 20px;
    margin: 20px;
    color: #000000;
    border-radius: 5px;
    width: 250px;
}

.display-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-pesquisar {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    caret-color: #609;
    color: #000;
    font-family: roboto;
    font-size: 1.25rem;
    height: 2rem;
    line-height: 1.75rem;
    outline: rgba(0, 0, 0, 0);
    padding: 0.50rem 0.50rem;
    width: 400px;
    letter-spacing: 1px;
}

.btn-nvc {
    display: flex;
    align-items: center;
    background: #609;
    color: #fff;
    padding: 12px !important;
}

    .btn-nvc::before {
        content: "";
        display: inline-block;
        margin-right: 12px;
        height: 24px;
        width: 24px;
        background-image: url(../img/Add1.svg);
    }

#termo::placeholder {
    color: #8d8d8d;
    font-size: 15px;
}

.container-forms {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 780px;
    background: #fff;
    position:absolute;
    z-index: 999;
           
}
