<h2 id="h01-chamados">Gerenciamento de Chamados</h2>
<div class="items-display">
    <input id="termo" type="text" class="input-geral input-pesquisa" placeholder="Digite um termo para a pesquisa" />
    <a onclick="mostrarModal()" class="btn-nvc btn-geral">Novo Chamado</a>
</div>
<div id="modalOverlay" class="modal-overlay"></div>

<div id="modal" class="container-forms">
    <div class="top-title">
        <h2>Abertura de chamado</h2>
        <span onclick="fecharModal()"><img src="~/img/closeX.svg" /></span>
    </div>
    <div class="alert-box alert-box-info">
        <p>Ao cadastrar um novo chamado, a sincronização será automática e a lista será atualizada em tempo real para o técnico.</p><br>
    </div>
    <div class="form-chamados">
        <form>
            <label for="Assunto">Assunto:</label>
            <input type="text" class="input-geral input-chamados" id="Assunto" name="Assunto" maxlength="255">
            @*  <label for="Tecnico">Técnico:</label> *@

            <div class="select2">
                <div id="category-select">
                    <label for="options-view-button">Técnicos</label>
                    <input type="checkbox" id="options-view-button" />

                    <div id="select-button">
                        <div id="selected-value">Selecione o técnico</div>

                        <div id="chevrons">
                            <i data-lucide="chevron-down"></i>
                            <i data-lucide="chevron-up"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select2">
                <div id="category-select">
                </div>
                <ul id="options">
                    @foreach (var items in ViewBag.Tecnicos)
                    {
                        <li class="option">
                            <input type="radio" id="Tecnico" name="Tecnico" value="@items.TecnicoID" data-label="Padaria" />
                            <i data-lucide="sandwich"></i>
                            <span class="label">@items.NomeTecnico</span>
                            <i data-lucide="check"></i>
                        </li>

                    }
                </ul>
            </div>

            <label for="UsuarioAbertura">Usuário de Abertura:</label>
            <input type="text" class="input-geral input-chamados" id="UsuarioAbertura" name="UsuarioAbertura" maxlength="100">
            <label for="DataAbertura">Data de Abertura:</label>
            <input type="date" class="input-geral input-chamados" id="DataAbertura" name="DataAbertura">
            <label for="Prioridade">Prioridade:</label>
            <select id="Prioridade" name="Prioridade" class="input-geral">
                <option>Urgente</option>
            </select>
            <label for="Descricao">Descrição:</label>
            <textarea class="textarea-chamados input-chamados" id="Descricao" name="Descricao" maxlength="1200"></textarea>
            <div class="container-btn">
                <a class="btn-nvc btn-geral">Salvar</a>
                <a class="btn-cancelar btn-nvc btn-geral">Cancelar</a>
            </div>

        </form>
    </div>

</div>
@section Scripts {
    <script src="~/js/actions/formchamados.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>

}