<h2 id="h01-chamados">Gerenciamento de Chamados</h2>
<div class="items-display">
    <input id="termo" type="text" class="input-pesquisar" placeholder="Digite um termo para a pesquisa" />
            <a asp-area="" asp-controller="Actions" asp-action="Index" class="btn-nvc btn-geral" >Novo Chamado</a>
    </div>
    <div class="container-forms">

    </div>